@charset "UTF-8";



body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-color: #FFFFFF;
	background-image: url(../imagenes/fondo_secciones.jpg);
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	float: left;
}

img {border:0}

h1 {
	font-size:16pt;
	color:#907536;
	font-weight: bolder;
}

a {
	color:#FFFFFF;
	text-decoration: none;	
	
}	

a:hover {
	color: #3F1903;
	text-decoration: none;	
	
}
#container {
	position:absolute;
	margin: 0px;
	padding: 0px;
	height: 853px;
	width: 1028px;
	left: -1px;
	top: -2px;
	z-index: 11;
}


#container #menu {
	height: 91px;
	width: 586px;
	position: absolute;
	left: 303px;
	top: 4px;
	float: left;
	padding-right: 15px;
	padding-left: 15px;
}

#container #menu #menu_home {
	float: left;
	background:url(../imagenes/menu/menu_home.png) top left no-repeat;
	height: 65px;
	width: 40px;
	margin-right: 15px;
	margin-left: 15px;
}
		#menu_home img, #menu_home a:hover{
		width:37px;
		height:62px;
		}

		#menu_home a:hover{
			position:absolute;
			background:url(../imagenes/menu/menu_home_over.png) top left no-repeat;
}

#container #menu #menu_historia {
	float: left;
	background:url(../imagenes/menu/menu_historia.png) top left no-repeat;
	height: 65px;
	width: 52px;
	margin-right: 15px;
	margin-left: 15px;
}
	#menu_historia img, #menu_historia a:hover{
		width:52px;
		height:65px;
		}
	#menu_historia a:hover{
			position:absolute;
			background:url(../imagenes/menu/menu_historia_over.png) top left no-repeat;
			}
#container #menu #menu_peliculas {
	float: left;
	background:url(../imagenes/menu/menu_peliculas.png) top left no-repeat;
	height: 65px;
	width: 62px;
	margin-right: 15px;
	margin-left: 15px;
}

	#menu_peliculas img, #menu_peliculas a:hover{
		width:62px;
		height:65px;
		}
		
	#menu_peliculas a:hover{
			position:absolute;
			background:url(../imagenes/menu/menu_peliculas_over.png) top left no-repeat;
			}
			
#container #menu #menu_tomasfalsas {
	float: left;
	background:url(../imagenes/menu/menu_tomas.png) top left no-repeat;
	height: 65px;
	width: 90px;
	margin-right: 15px;
	margin-left: 15px;
}

	#menu_tomasfalsas img, #menu_tomasfalsas a:hover{
		width:90px;
		height:65px;
		}
		
	#menu_tomasfalsas a:hover{
			position:absolute;
			background:url(../imagenes/menu/menu_tomas_over.png) top left no-repeat;
			}
			
#container #menu #menu_fotos {
	float: left;
	background:url(../imagenes/menu/menu_fotos.png) top left no-repeat;
	height: 65px;
	width: 36px;
	margin-right: 15px;
	margin-left: 15px;
}

	#menu_fotos img, #menu_fotos a:hover{
	width:36px;
	height:65px;
		}
		
	#menu_fotos a:hover{
			position:absolute;
			background:url(../imagenes/menu/menu_fotos_over.png) top left no-repeat;
			}
			

#container #menu #menu_blog {
	float: left;
	background:url(../imagenes/menu/menu_blog.png) top left no-repeat;
	height: 65px;
	width: 34px;
	margin-right: 15px;
	margin-left: 15px;
}

	#menu_blog img, #menu_blog a:hover{
		width:34px;
		height:65px;
		}
		
	#menu_blog a:hover{
			position:absolute;
			background:url(../imagenes/menu/menu_blog_over.png) top left no-repeat;
			}
			


#container #contenedor_tomasfalsas {
	height: auto;
	width: 400px;
	position: absolute;
	left: 317px;
	top: 164px;
	background-image: url(../imagenes/textura.jpg);
	padding: 10px 15px 15px 20px;
	color: #FFFFFF;
}

#contenedor_tomasfalsas ul{
	list-style-image:url(../imagenes/peliculas/icono_claqueta.png);
}

#contenedor_tomasfalsas ul li a{
	color:#666
}

#contenedor_tomasfalsas ul li a:hover{
	color:#333
}

#footer {
	background-color: #000000;
	height: 55px;
	width: 1024px;
	position: absolute;
	left: 1px;
	top: 797px;
}
#footer #copyright {
	width: 300px;
	font-size: 10px;
	color: #FFFFFF;
	padding: 20px;
	float: left;
}
#footer #menufooter {
	list-style-type: none;
	padding: 10px 10px 5px 30px;
	left: 352px;
	top: 4px;
	height: 36px;
	width: 400px;
	float: left;
}
	#menufooter ul li{
	float:left; 
	list-style-type: none;
	}
	
		#menufooter li a{
		display:block;
		margin:5px;
		
		}

		#menufooter li a:hover {
					
}
#footer #diseño {
	color: #FFFFFF;
	width: 200px;
	float: left;
	text-align: right;
	padding: 20px;
	font-size: 8pt;
}

