
.rgba .thumbs td,
.rgba .folders td,
.rgba .neighbors a,
#map,
.disqus-comments {
	background-color:rgba(255,255,255,0.6);
	color:#222;
	text-shadow:1px 1px 1px rgba(255,255,255,0.3);
}
.no-rgba .thumbs td,
.no-rgba .folders td,
.no-rgba .neighbors a,
.no-rgba #map,
.no-rgba .disqus-comments {
	background-color:transparent;
	background-image:url(w60.png);
}
.rgba .thumbs td > a:hover,
.rgba .thumbs td > a:focus,
.neighbors a:hover,
.neighbors a:focus,
.folders td:hover {
	background-color:rgba(255,255,255,0.8);
	outline:none;
	color:#000;
}
.folders td > a {
	color:#222;
}
.folders td:hover > a {
	color:#000;
}
.no-rgba .thumbs td > a:hover,
.no-rgba .thumbs td > a:focus,
.no-rgba .neighbors a:hover,
.no-rgba .neighbors a:focus,
.no-rgba .folders td:hover {
	background-color:transparent;
	background-image:url(w80.png);
}
.rgba .thumbs td > a.active,
.no-rgba .thumbs td > a.active {
	background-color:#fff;
}
#main article {
	background-color:rgba(255,255,255,0.8);
}
.no-rgba #main article {
	background-color:transparent;
	background-image:url(w80.png);
}
.folders h4 {
	text-shadow:none;
}
.thumbs td > .caption span.nr {
	font-weight:bold;
	font-style:normal;
	padding:0px 3px;
	color:#222;
	background-color:#fff;
	text-shadow:none;
}


.startshow,
#main header .title .controls {
	background-color:rgba(255,255,255,0.4);
}
.no-rgba .startshow,
.no-rgba #main header .title .controls {
	background-color:transparent;
	background-image:url(w40.png);
}
#main header .title .controls a {
	background-image:url(controls_w.png);
}
.startshow:hover,
#main header .title .controls:hover {
	background-color:rgba(255,255,255,0.8);
}
.no-rgba .startshow:hover,
.no-rgba #main header .title .controls:hover {
	background-color:transparent;
	background-image:url(w80.png);
}
.starttxt {
	color:#222;
	background-image:url(start_w.png);
}

.rgba .scrbar {
	background-color:rgba(0,0,0,0.1);
}
.no-rgba .scrbar {
	background-color:transparent;
	background-image:url(k10.png);
}
.hook-s,
.scrup,
.scrdn {
	background-image:url(pg_w.png);
}


#main footer .wrap,
.actions {
	background-color:rgba(255,255,255,0.4);
}
.no-rgba #main footer .wrap,
.no-rgba .actions {
	background-color:transparent;
	background-image:url(w40.png);
}

.hook,
.gallery .scrollbox,
.gallery .bottom .cont,
.gallery .scrollbox:hover,
.gallery .bottom .cont:hover,
.no-rgba .gallery .scrollbox,
.no-rgba .gallery .bottom .cont,
.no-rgba .gallery .scrollbox:hover,
.no-rgba .gallery .bottom .cont:hover {
	background-color:transparent;
	background-image:url(bg1.jpg);
	background-position:center center;
}
.gallery .bottom .cont {
	text-shadow:1px 1px 1px rgba(255,255,255,0.3);
}
.hook-s,
.gallery .scrollbox .scleft,
.gallery .scrollbox .scright {
	background-image:url(scroll_w.png);
}
.backgroundsize .gallery .scrollbox,
.backgroundsize .gallery .bottom .cont {
	-moz-background-size:100% auto;
	background-size:100% auto;
}
.rgba .gallery .scrollbox .cont a:hover, 
.rgba .gallery .scrollbox .cont a:focus {
	background-color:rgba(0,0,0,0.4);
	outline:none;
}
.no-rgba .gallery .scrollbox .cont a:hover, 
.no-rgba .gallery .scrollbox .cont a:focus {
	background-image:url(k40.png);
}
.rgba .gallery .scrollbox .cont a.active {
	background-color:rgba(0,0,0,0.8);
}
.no-rgba .gallery .scrollbox .cont a.active {
	background-color:transparent;
	background-image:url(k80.png);
}

.gallery .img .other {
	background-color:#111;
}

.gallery .bottom .meta b {
	color:#796a38;
}

nav.buttons {
	border:1px solid #ccc;
	color:#222;
	background-color:#aaa;
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255,255,255,1)), color-stop(1, rgba(238,238,238,1)));
	background-image:-webkit-linear-gradient(top, rgba(255,255,255,1), rgba(238,238,238,1) );
	background-image:-moz-linear-gradient(top, rgba(255,255,255,1), rgba(238,238,238,1) );
	background-image:-ms-linear-gradient(top, rgba(255,255,255,1), rgba(238,238,238,1) );
	background-image:linear-gradient(top, rgba(255,255,255,1), rgba(238,238,238,1) );
	filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#FFFFFFFF,EndColorStr=#FFDDDDDD);
	-moz-box-shadow:0px 1px 2px rgba(0,0,0,0.2); -webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.2); box-shadow:0px 1px 2px rgba(0,0,0,0.2);
}
nav.buttons a {
	color:#444;
	border-left:1px solid #ccc;
	background-image:url(buttons_w.png);
}
nav.buttons a:hover {
	color:#222;
}
nav.buttons a.active {
	color:#222;
	background-color:rgba(0,0,0,0.2);
	border-left-color:#aaa;
}
.no-rgba nav.buttons a.active {
	background-color:#aaa;
}
.gallery .bottom .icon {
	background-image:url(buttons_w.png);
}




